<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="UTF-8">
  <title>{{ site.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

 </head>
<body>
  <header class="site-header">
    <a href="{{ url home }}" class="site-logo">{{ site.name }}</a>
  </header>

  {{ console this }}